# Virtual Environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env
.env.*

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log